# Virtual Environments
.venv/
venv/
env/

# Python Cache
__pycache__/
*.py[cod]

# AI Models (Do not push heavy weights to GitHub!)
*.pt
*.onnx
*.engine
weights/

# Videos and Media
*.mp4
*.avi
*.mov
emptying-videos/

# Results and Logs
results/
*.json